<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<!--    <h3> This form is created by HTML code </h3>-->
<!--    <form action="" method="post">-->
<!--        <lebel for="user_name">User Name</lebel>-->
<!--        <input type="text" name="user_name" value="" required>-->
<!--        <lebel for="user_email">User Email</lebel>-->
<!--        <input type="email" name="user_email" value="" required>-->
<!--        <lebel for="user_phone">Phone Number</lebel>-->
<!--        <input type="number" name="user_phone" value="" required>-->
<!--        <lebel for="password">Password</lebel>-->
<!--        <input type="password" name="password" value="" required>-->
<!--        <input type="submit" name="submit" value="submit">-->

        <h3>{{ heading_1 }}</h3>
        <form action="" method="post">
            {{ test_form.as_p }}
            {% csrf_token %}
            <input type="submit" name="submit" value="submit">
        </form>
        {% if form_submitted %}
            <p>Name:{{user_name}} </p>
            <p>Email:{{user_email}}</p>
            <p>Date of Birth:{{user_date}}</p>
            <p>Phone Number:{{user_phone}}</p>
            <p>Boolean Field:{{boolean_field}}</p>
            <p>Field:{{char_field}}</p>
            <p>Choice:{{choice_field}}</p>
            <p>Radio:{{radio_choice}}</p>
            <p>Multiple:{{multiple_field}}</p>
        {% endif %}

<!--    </form>-->
</body>
</html>
